# Compiled files
bin/
obj/

# Secrets and environment files
secrets.json
*.secrets.json
*.env
.env

# Deployment settings
*.publishsettings
*.pubxml
*.pfx
*.key
*.cer

# Other files
appsettings.Development.json