# Build Folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider project files
.idea/

# Visual Studio Code workspace settings
.vscode/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# DotNet specific
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
!**/packages/build/
!**/packages/repositories.config

# Entity Framework Migrations
**/Migrations/

# Environment settings (optional, recommended to ignore if contains secrets)
appsettings.Development.json
appsettings.Local.json

# Others
*.log
*.DS_Store